h1{text-align: center; padding-top: 50px; padding-bottom: 20px;}
h4{text-align: center; padding-bottom: 50px;}
h5{text-align: center;}
p{width : 50%; margin : 20px auto;}

#p1{padding-top: 50px;}
#p4{padding-bottom: 50px;}

div.containerDes{
    max-width: 500px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 50%;
    height: 100px;
}

div.des{
    width: 50%;
    height: 100px;
}

div.carousel{
    max-height: 800px;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

div.bg{
    background-color: #fdfaf4;
}

a{ 
    color: rgb(82, 82, 82);
}

#map{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 0;
}

div.principale{
    display: flex;
    flex-wrap: wrap;
}